body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

/* Top bar */

#top_bar {
    position: absolute;
    display: flex;
    width: calc(100% - 40px);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #222;
    border-radius: 100px;
    left: 20px;
    top: 20px;
    height: 60px;
    gap: 10px;
    box-shadow: 0px 0px 12px;
}

.top_bar_item {
    background-color: #222;
    padding: 10px;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-size: 20px;
    color: #AAA;
    text-decoration: none;
    border-radius: 100px;
    position: relative;
}

.top_bar_item::after {
    content: "";
    background-color: #AAA;
    position: absolute;
    bottom: 8px;
    width: 0;
    height: 2px;
    left: 50%;
    padding: 0;
    margin: 0;
    border-radius: 1px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.top_bar_item:hover {
    background-color: #444;
    cursor: pointer;
    box-shadow: 0px 0px 12px #444;
}

.top_bar_item:hover::after {
    width: calc(100% - 30px);
    left: 15px;
}

/* Body */

#main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.website_section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    gap: 30px;
}

.light_bg {
    background-color: #ffe95e;
}

.dark_bg {
    background-color: #ffc72d;
}

.main_icon {
    flex: 1;
    background-color: #8ef9f3;
    border-radius: 20px;
    box-shadow: 0px 0px 15px;
}

.flex_info {
    flex: 3;
    gap: 15px;
}

.link_button {
    background-color: #8ef9f3;
    padding: 12px;
    text-decoration: none;
    color: #1098f7;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: fit-content;
    box-shadow: 0px 0px 6px;
}

#waitlist_form_holder {
    justify-content: center;
    gap: 15px;
}

.form_section {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 5px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0px 0px 4px;
}

button {
    background-color: #8ef9f3;
    padding: 12px;
    text-decoration: none;
    color: #1098f7;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: fit-content;
    border: 0px;
    margin: auto;
    box-shadow: 0px 0px 4px;
}

.red_button {
    background-color: #c40000;
    padding: 8px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}

ul {
    margin: 0;
}

/* General */

h1 {
    margin: 0;
    font-size: 50px;
}

h2 {
    margin: 0;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.align_center {
    text-align: center;
}

/* Waitlist/admin */

#waitlist_panel {
    background-color: #00000055;
    max-height: 50%;
    overflow: hidden;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}
#waitlist_scroll {
    overflow-y: scroll;
    width: 100%;
}

.list_member {
    text-align: center;
    background-color: #00000055;
    border-radius: 10px;
    margin: 10px;
}

/* Members */

#members_panel {
    background-color: #00000055;
    max-height: 50%;
    overflow: hidden;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}
#members_scroll {
    overflow-y: scroll;
    width: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0px;
}