body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

/* Top bar */

#top_bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    background-color: #222;
}

.top_bar_item {
    background-color: #222;
    padding: 10px;
    transition: background-color 0.5s;
    font-size: 20px;
    color: #AAA;
    text-decoration: none;
}

.top_bar_item:hover {
    background-color: #444;
    cursor: pointer;
}

/* Body */

#main {
    width: 100%;
    height: calc(100vh - 43px);
    overflow-y: scroll;
}

.website_section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    gap: 30px;
}

.light_bg {
    background-color: #ffe95e;
}

.dark_bg {
    background-color: #ffc72d;
}

.main_icon {
    flex: 1;
    background-color: #8ef9f3;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px;
}

.flex_info {
    flex: 3;
    gap: 15px;
}

.link_button {
    background-color: #8ef9f3;
    padding: 12px;
    text-decoration: none;
    color: #1098f7;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: fit-content;
}

ul {
    margin: 0;
}

/* General */

h1 {
    margin: 0;
    font-size: 50px;
}

h2 {
    margin: 0;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.align_center {
    text-align: center;
}