body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding: 0;
    background-color: #ffe95e;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

/* Top bar */

#top_bar {
    position: fixed;
    display: flex;
    width: calc(100% - 40px);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #222;
    border-radius: 100px;
    left: 20px;
    top: 20px;
    height: 60px;
    gap: 10px;
    box-shadow: 0px 0px 12px;
}

.top_bar_item {
    background-color: #222;
    padding: 10px;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-size: 20px;
    color: #AAA;
    text-decoration: none;
    border-radius: 100px;
    position: relative;
    font-weight: 600;
}

.top_bar_item::after {
    content: "";
    background-color: #888;
    position: absolute;
    bottom: 8px;
    width: 0;
    height: 3px;
    left: 50%;
    padding: 0;
    margin: 0;
    border-radius: 1px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.top_bar_item:hover {
    background-color: #444;
    cursor: pointer;
    box-shadow: 0px 0px 12px #444;
}

.top_bar_item:hover::after {
    width: calc(100% - 30px);
    left: 15px;
}

.navbar_icon {
    display: none;
}


/* Body */

/* #main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
} */

.website_section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: min(50px, 5vw);
    box-sizing: border-box;
    gap: 30px;
    flex-direction: row;
}

.light_bg {
    background-color: #ffe95e;
}

.dark_bg {
    background-color: #ffc72d;
}

.main_icon {
    flex: 1;
    aspect-ratio: 1;
    width: min(320px, 50vw);
    background-color: #8ef9f3;
    border-radius: 20px;
    box-shadow: 0px 0px 15px;
}

.flex_info {
    flex: 3;
    gap: 15px;
}

.link_button {
    background-color: #8ef9f3;
    padding: 12px;
    text-decoration: none;
    color: #1098f7;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: fit-content;
    box-shadow: 0px 0px 6px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.link_button:hover {
    background-color: #acfffb;
    color: #58b8fc;
    box-shadow: 0px 0px 10px;
}

#waitlist_form_holder {
    justify-content: center;
    gap: 15px;
}

.form_section {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 5px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 0px 0px 4px;
}

button {
    background-color: #8ef9f3;
    color: #1098f7;
    box-shadow: 0px 0px 4px;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: fit-content;
    border: 0px;
    margin: auto;
}

.red_button {
    background-color: #6dff65;
    padding: 8px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 20px;
    max-width: fit-content;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.red_button:hover {
    background-color: #519d4d;
    box-shadow: 0 0 10px;
}

button:hover {
    cursor: pointer;
}

ul {
    margin: 0;
}

/* Timeline */

.timeline_section {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.timeline_spacer {
    width: 100%;
    height: 10%;
}

.timeline_diagram {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    height: 100%;
    width: 30%;
    align-items: center;
    box-sizing: border-box;
}

.timeline_block {
    height: calc(100% / 3);
    aspect-ratio: 1;
}

.flat_line_timeline_diagram {
    width: 100%;
    height: 3px;
    background-color: #000;
}

.circle_timeline_diagram {
    height: 100%;
    width: 100%;
    border: 3px solid;
    border-radius: 50%;
    box-sizing: border-box;
}

.line_timeline_diagram {
    width: 3px;
    height: 100%;
    background-color: #000;
    margin: auto;
}

.small_line_timeline_diagram {
    height: calc(100% - 3px);
    width: 3px;
    background-color: #000;
    margin: auto;
}

/* General */

h1 {
    margin: 0;
    font-size: max(min(3em, 5vw), 1rem);
}

h2 {
    margin: 0;
}

p {
    font-size: max(min(1.2em, 2vw), 1rem);
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.align_center {
    text-align: center;
}

/* Waitlist/admin */

#waitlist_panel {
    background-color: #00000055;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px;
    flex: 2;
}
#waitlist_scroll {
    overflow-y: scroll;
    width: 100%;
    flex: 1;
}

/* Members */

#members_panel {
    background-color: #00000055;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px;
    flex: 2;
}

#members_info_panel {
    background-color: #00000055;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px;
    flex: 1;
}

.no_margin {
    margin: 0;
}

#members_scroll {
    overflow-y: scroll;
    width: 100%;
}

/* Both List Sites */

#main_ui_panel {
    max-height: 50%;
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.list_member {
    text-align: center;
    background-color: #00000055;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 5px;
    position: relative;
}

#panel_searchbar {
    background-color: #00000000;
    margin: 10px;
}

input[type="text"].transparent_input {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 0px 5px;
    background-color: #00000055;
    width: 100%;
}

input[type="text"].transparent_input::placeholder {
  color: #000;
  opacity: 0.5;
}

.list_item_options {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.small_option_button {
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    border-radius: 12px;
}

.button_icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Popups */

.popup_window {
    position: absolute;
    width: 0;
    height: 60%;
    background-color: #000B;
    top: 20%;
    left: calc(50% - 31px);
    border: 1px solid #888C;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #EEE;
    backdrop-filter: blur(7px);
    gap: 30px;
    box-shadow: 0px 0px 5px black;
    padding: 30px;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    overflow: hidden;
}

.close_popup {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    border-radius: 12px;
    background-color: red;
    box-shadow: 0px 0px 5px red;
}

.form_button {
    margin: 0;
}

textarea {
    resize: none;
    border-radius: 1em;
    padding: 1em;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0px;
}

/* Media Quieries */

@media (max-width: 600px) {
    .navbar_icon {
        width: 1.3em;
        aspect-ratio: 1;
        display: inline;
    }

    .navbar_text {
        display: none;
    }

    .top_bar_item {
        height: auto;
    }

    .website_section {
        flex-direction: column;
        justify-content: center;
        padding-top: 130px;
        min-height: fit-content;
    }

    .flex_info {
        align-items: center;
        flex: 1;
        max-height: fit-content;
    }

    .main_icon {
        max-height: min(320px, 50vw);
    }

    h1, p {
        text-align: center;
    }
    
    #main_ui_panel {
        flex-direction: column;
        width: 90%;
        max-height: 70%;
    }

    .top_bar_item::after {
        content: none;
    }
}